/* Base styles and resets */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb; /* bg-gray-50 */
    color: #18181b;
}

/* Dark mode base styles */
.dark body {
    background-color: #000000;
    color: #d4d4d8;
}